// bower:scss
@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif|Oxygen|Taviraj';

$blue: #234074;
$text: #333333;
$font-family: 'Open Sans', serif;


body {
  font-family: $font-family;
}

p {
   letter-spacing: 0.02em;
}

a {
  color: $blue;
  font-weight: bold;
}

#header {
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $blue;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 9999999;

  img.logo {
    margin-top: 6px;
  }

  ul.menu {
    float: right;
    margin-top: 14px;
    letter-spacing: 0.02em;
    font-size: 16px;

    li {
      display: inline;
      list-style-image: none;
      
      &+li {
        margin-left: 20px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

ul.submenu {
    text-align: right;
    letter-spacing: 0.02em;
    font-size: 16px;
    margin: 10px 13px 0 0;


    li {
      display: inline;
      list-style-image: none;
      
      &+li {
        margin-left: 20px;
      }

      a {
        color: $blue;
        text-decoration: none;
      }
    }
  }


.jumbotron {

  background-color: #fff;

  p {
    font-size: 16px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    position: relative;

    &:after {
      height: 1px;
      width: 20%;
      border-bottom: 1px solid $text;
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
    }
  }

  h3 {
    font-size: 20px;
  }

  &.homepage {
    margin: 50px 0 0;
    height: calc(100vh - 50px);
    padding: 0;

    .background {
      height: 100%;
      background-image: url("/img/cambridge.jpeg");
      background-size: cover;
      background-position: center right;
      padding: 0;
    

      .overlay {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #fff;
        background-color: rgba(0,0,0,.4);
        padding: 0 10px;

      }

    }

    .content {
      height: 100%;
      overflow: scroll;

      .package {

        h3 {
          padding-bottom: 10px;
          border-bottom: 1px solid #000;
        }

        .price {
          float: right;
          font-weight: bold;
        }
      }

      .package:nth-child(odd) {
        clear: both;
      }

      .faq {
        h3 {
          font-weight: bold;
        }
      }
    }
  }
}


//BLOG POST STYLES

.posts {
  h3 {
    a {
      color: $text;
    }
  }
}

.post {
  padding-top: 30px;

  p + h2 {
    margin: 20px 0 30px;
  }

  ul, ol {
    li {
      margin-top: 10px;
    }
  }
}

// CONTACT FORMS

form.contact {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;

  label {
    display: block;
    font-weight: bold;
    margin: 10px 0;
  }

  input, textarea {
    display: block;
    width: 100%;
  }

  input[type="submit"] {

    display: inline-block;
    margin: 20px 0;
    padding: 5px 10px;
    background-color: $blue;
    color: #fff;

  }
}

//MOBILE STYLES

@media only screen and (max-width: 999px){
  .jumbotron.homepage .content {
    height: auto;
    overflow: auto;
  }
}